


  .services{
    .services__main{
      .services__img{
        border-radius: 7px 7px 7px 7px;
      }
      .services__content{
        display: flex;
      }
    }
  }
  .service{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    img{
      margin-right: 15px;
    }
  }
  .right{
    order: 2;
    margin-left: 30px;
  }
  .left {
    margin-right: 30px;
  }

  @include breakpoint(medium-small down){

  }

  @include breakpoint(small down){

    .service{
      display: block;
      padding: 10px;
      text-align: center;
      img{
        margin-right: 0px;
        margin-bottom: 10px;
      }
    }
}