header{
	position: absolute;
	top:0;
	z-index: 1000;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	padding: 20px 0;
}

.logo {
	h1 {
		font-size: 0;
	}

	a {
		display: inline-block;
	}

	img {
		width: 150px;
		height: auto;
		object-fit: contain;
	}
}
.socials{
	text-align: center;
}


@include breakpoint(small down) {
	/* TOP BAR Mobile STYLING */
header{
	background: $main-color;
	position: initial;
}
	.menu-grid-container {
		padding-left: 0;
		padding-right: 0;

		.grid-margin-x {
			margin-left: 0;
			margin-right: 0;

			.cell {
				margin-left: 0;
				margin-right: 0;
				width: 100%;
			}
		}
	}

	.title-bar {
		line-height: 45px;
		background: $main-color;
		text-transform: uppercase;
		padding: 0 5px;
		.menu-icon {
			padding: 0;
			margin: 0 5px 0 0;
			border: none;
			background-color: transparent;

			@include menu-icon(#fff, #fff, 30px, 24px, 3px);
		}

	}

	.top-bar {
		display: none;
		background: $main-color; /* menu list background color */
	}

	.header-menu {
		background: transparent;
		display: flex;
		flex-wrap: wrap;

		li {
			border-top: 1px solid #e0e0e8;
			border-bottom: 1px solid #e0e0e8;
			> a {
				background: transparent; /* menu item background color */
				color: #fff; /* menu item text color */
				line-height: 45px;

				&:focus {
					&, & + .submenu-toggle {
						background: darken($main-color, 5); /* menu item background color on hover */
					}
				}
			}

			&.current-menu-item, &.current_page_ancestor, &.current_page_parent {
				> a, .submenu-toggle {
					background: lighten($main-color, 5); /* current/parent menu item background color */
				}
			}

			&[aria-expanded='true'] {
				> a, .submenu-toggle {
					background: darken($main-color, 3); /* menu item background color on open dropdown */
				}
			}
		}
		li:hover{
			background: $hover-color;
		}
	}
		.is-accordion-submenu{
			li{
				background-color: white;
				a{
					color: $text-color;
				}
			}
			li:hover{
				background-color: white;
				a{
					color: $main-color;
				}
			}
		}
		.submenu-toggle {
			padding: 0;
			background: transparent;

		.submenu {

			a {
				padding-left: #{get-side($accordionmenu-padding, 'left') * 1.65};
			}

			.submenu {
				a {
					padding-left: #{get-side($accordionmenu-padding, 'left') * 2.3};
				}
			}
		}
	}
	.submenu-toggle:focus{
		background: transparent;
	}
}
@include breakpoint(medium down) {
	.header-menu {
		order: 3;
		display: flex;
		justify-content: center;
	}
}
@include breakpoint(medium) {
	/* TOP BAR STYLING */
	.header-menu.menu {
		/* Align menu items to the right */
		// justify-content: flex-end;

		/* Align menu items to the center */
		// justify-content: center;

		li {
			> a {
				/* Regular menu item style */
				line-height: 40px;
				color: white;
				text-transform: uppercase;
				&:hover {
					/* menu item style on hover */
					background: transparent;
					color: $main-color;
				}

			}

			&.current-menu-item, &.current_page_ancestor, &.current_page_parent {
				> a {
					/* Style of Current page and Ancestor page */
					background: transparent;
					color: $main-color;
				}
			}

			&.has-dropdown {
				> a {
					/* Style of item with dropdown */
				}
			}

			&.is-active > a {
				/* Parent link style on dropdown hover */
				background: transparent;
				color: $main-color;
			}
		}

		/* Dropdown item styling */

		.submenu {
			z-index: 11;
			display: none;

			&.js-dropdown-active {
				display: block;
				border-radius: 7px;
				background: white;
				padding: 10px;
			}
			&.js-dropdown-active:before {

			}
			&.first-sub:before{
				content: "";
				width: 0;
				height: 0;
				position: absolute;
				bottom: 100%;
				left: calc(20% - 12px);
				border-right: 8px solid transparent;
				border-bottom: 10px solid white;
				border-left: 8px solid transparent;
			}


			li {
				> a {
					/* Regular link in dropdown */
					background: white;
					color: $text-color;
					line-height: 30px;
					border-radius: 7px;
					position: relative;
					&:hover {
						/* Dropdown link on hover */
						background: lightgrey;
						color: $main-color;
					}
				}
				&.has-dropdown{
					> a:before{
						position: absolute;
						content: "\f105";
						right: 0;
						color: black;
						font-family: "Font Awesome 5 Free";
						font-size: 20px;
						font-weight: 700;
					}
				}



				&.current-menu-item, &.current_page_ancestor, &.current_page_parent {
					> a {
						background: lightgrey;
						color: $main-color;
					}
				}
			}

			.submenu {
				/* Styles for 2nd level dropdown menu */

			}
		}
	}
}
